body {
    font-family: "Lora", serif;
    background-image: url(blurred.png);
    background-size: cover;
    background-position: center;
  }
.la-facilitati {
    margin: 20px;
padding: 10px;
font-size: medium;
}
.map-iframe {
    border: 0;
  }